section {
  height: 113vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article:nth-child(1) {
  margin-top: 22vh;
}

article{
    border-radius: 1rem;
    width: 80%;
    margin-top: 3vh;
    background-color: #ddd;
    padding: 2rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: dotted 2px #585;
}

body{
    background-color: #eee;
}

article ul{
    margin-left: 1rem;
}
article ul li{
    list-style-type: square;
}

p{
    margin: 1rem 0;
}
